:root {
  --header-height : 75px;
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer, header{
  width: 100%;
  margin: 0;
  color: #ffffff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  height: var(--header-height);
  top: 0;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
  margin-top: 100px;
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  width: 100%;
}

.header-nav > h2 {
  cursor: pointer;
}

.login {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login-form {
  background-color: var(--color-background);
  height: 300px;
  width:  600px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: .5rem .5rem 0 #212121;
}

.input {
  position: relative;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: -16px calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 1 );
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input__field{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
}