:root {
  --header-height : 75px;
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 0.5rem;
}

* {
  box-sizing: border-box;
}

footer, header{
  width: 100%;
  margin: 0;
  color: #ffffff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  height: var(--header-height);
  top: 0;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  width: 100%;
}

.header-nav > h2 {
  cursor: pointer;
}

.header-nav-menu > a {
  padding: 0 10px 0 10px;
  transition: color 1s;
  cursor: pointer;
}

.header-nav-menu > a:hover {
  color: var(--color-signal);
}

.login, .welcome, .error, .container {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
}

.login, .welcome, .error, .loading {
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1140px;
  margin: var(--header-height) auto 0 auto;
}

.container-center {
  align-items: center;
}

.dashboard {
  display: flex;
  min-height: 400px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  box-shadow: .5rem .5rem 0 #212121;
  border: solid 1px #212121;
  border-radius: 20px;
  align-items: flex-start;
}
.loading{
  display: flex;
  height: 100;
  align-self: center;
}
.dashboard-teams{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-boards{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.dashboard-section-title {
  width: 80%;
  margin: auto;
  padding-bottom: 0;
  border-bottom: solid 1px #212121;
}

.error {
  flex-direction: column;
}

.error {
  flex-direction: column;
}

.login-form {
  background-color: var(--color-background);
  height: 300px;
  width:  600px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: .5rem .5rem 0 #212121;
}

.input {
  position: relative;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: -16px calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 1 );
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input__field{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.input__field:focus {
  outline: none;
  color: var(--color-signal);
  border-color: var(--color-dark);
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
  cursor: pointer;
}

.link {
  color: var(--color-signal);
  cursor: pointer;
}

.team{
  width: 80%;
  margin: auto;
}

.team-boards {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.board {
  cursor: pointer;  
  background-color: var(--color-dark);
  color: var(--color-light);
  border: solid 2px var(--color-signal);
  box-shadow: 0.1rem .3rem 0 var(--color-signal);
  height: 100px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}